		
<div class="center hero-unit">
		<h1>Wlcome to ma first Rails application</h1>
			<p>
				This is the first link i created
				<%= 
				link_to "Kompred", "http://www.kompred.pl"
				%>
			</p>
			<p>
				<%= 
				link_to "Sign up now", "#", class: "btn btn-primary btn-large"
				%>
			</p>	
</div>			

